* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #001F54;
    color: white;
    padding: 25px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header img {
    width: 200px;
    height: auto;
}

header nav {
    display: flex;
    gap: 30px;
}

header nav a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

header input {
    padding: 1px;
    font-size: 45px;
}

main {
    background-color: #F5F5DC;
    padding: 25px;
}
h1 {
    text-align: center;
    color: #001F54;
}

.books {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.book {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.book img {
    width: 100%;
    height: auto;
    max-height: 250px;
    object-fit: cover;
}

.book h3 {
    font-size: 16px;
    margin: 10px 0;
}
.book p {
    color: #555;
    margin: 5px 0;
}

.book button {
    background-color: #D32F2F;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
}

.book button:hover {
    background-color: #B71C1C;
}

.view-more {
    text-align: center;
    margin-top: 20px;
}

.view-more a {
    text-decoration: none;
    color: #001F54;
    font-size: 16px;
}

.search{
    width: 50px;
    margin-left: -500px;

}
.logo{
    width: 200px;
}
ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding-right: 200px;
    
}
a{
    text-decoration: none;
    color: aliceblue;
}
